In [1]:
import pandas as panda

Data Definition

In [2]:
data = {
    'Student_ID':[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30],
    'TestPrepCourse':[1,0,0,1,0,0,1,0,0,1,0,1,0,1,1,0,1,0,0,1,0,0,1,1,0,1,0,1,1,0],
    'Math_Score': [72,66,64,76,40,74,70,56,70,86,42,74,62,73,62,35,84,74,30,70,48,74,89,71,54,70,76,68,82,82],
    'Read_Scrore': [65,29,55,73,35,66,58,40,45,78,57,86,55,67,89,64,67,78,38,58,41,56,75,65,33,86,37,55,59,73],
    'Write_Score': [55,40,65,84,36,56,88,50,54,70,69,81,49,84,77,20,73,49,73,86,25,48,70,57,56,65,20,71,70,58],
    'Prepared_For_Test':[1,0,1,1,0,1,1,1,1,1,0,0,0,1,1,0,0,0,1,1,0,1,1,1,0,1,1,0,1,1],
    'Outcome':[1,0,1,1,0,1,1,0,0,1,0,1,0,1,1,0,1,0,0,1,0,0,1,1,0,1,0,1,1,1]
}

In [3]:
dataf = panda.DataFrame(data)

Creating Dataframe (Extracted from the N. Inst. of Diabetes & Diges. & Kidney Dis. dataset)

In [4]:
dataf

,Student_ID,TestPrepCourse,Math_Score,Read_Scrore,Write_Score,Prepared_For_Test,Outcome
0,1,1,72,65,55,1,1
1,2,0,66,29,40,0,0
2,3,0,64,55,65,1,1
3,4,1,76,73,84,1,1
4,5,0,40,35,36,0,0
5,6,0,74,66,56,1,1
6,7,1,70,58,88,1,1
7,8,0,56,40,50,1,0
8,9,0,70,45,54,1,0
9,10,1,86,78,70,1,1
10,11,0,42,57,69,0,0
11,12,1,74,86,81,0,1
12,13,0,62,55,49,0,0
13,14,1,73,67,84,1,1
14,15,1,62,89,77,1,1
15,16,0,35,64,20,0,0
16,17,1,84,67,73,0,1
17,18,0,74,78,49,0,0
18,19,0,30,38,73,1,0
19,20,1,70,58,86,1,1
20,21,0,48,41,25,0,0
21,22,0,74,56,48,1,0
22,23,1,89,75,70,1,1
23,24,1,71,65,57,1,1
24,25,0,54,33,56,0,0
25,26,1,70,86,65,1,1
26,27,0,76,37,20,1,0
27,28,1,68,55,71,0,1
28,29,1,82,59,70,1,1
29,30,0,82,73,58,1,1

Assigning determining And target variables

In [5]:
X = dataf.drop(['Outcome'], axis=1)
y = dataf['Outcome']

gamma = 'auto', uses 1 / n_features

Model INIT

In [6]:
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB
svm = SVC(gamma='auto')
gnb = GaussianNB()

Switch case to get the desired classifier

In [7]:
n = int(input('Enter an option :\n 0 : Exit\n 1 : SVM\n 2 : Naive Bayes\n '))


class Classifier():
    def svm():
        svm.fit(X, y)
        print('The accuracy of SVM is : ',svm.score(X, y))
        print('The predicted values are : ', list(svm.predict(X)))
        print('\n')

    def gnb():
        gnb.fit(X, y)
        print('The accuracy of Gaussian Naive Bayes is : ',gnb.score(X, y))
        print('The predicted values are : ', list(gnb.predict(X)))
        print('\n')



while True:
    if n == 0:
        break
    elif n == 1:
        Classifier.svm()
    elif n == 2:
        Classifier.gnb()
    n = int(input('Enter an option :\n 0 : Exit\n 1 : SVM\n 2 : Naive Bayes\n '))

Enter an option :
 0 : Exit
 1 : SVM
 2 : Naive Bayes
 1
The accuracy of SVM is :  1.0
The predicted values are :  [1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1]


Enter an option :
 0 : Exit
 1 : SVM
 2 : Naive Bayes
 2
The accuracy of Gaussian Naive Bayes is :  0.9
The predicted values are :  [1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0]


Enter an option :
 0 : Exit
 1 : SVM
 2 : Naive Bayes
 0

The accuracy of SVM is 1.0

The predicted values are [1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1]

The accuracy of Gaussian Naive Bayes is 0.9

The predicted values are [1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0]

Actual Outcomes = [1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1]